<div class="gallery-view">
  <div class="row" ng-repeat="item in items track by $index" ion-row-height>
    <div ng-repeat="photo in item track by $index" class="col col-{{responsiveGrid}} image-container">

      <button
        ng-if="photo.destroy_enabled && customDestroyCallback"
        class="destroy-image button button-assertive" 
        ng-click="customDestroyCallback ? ionItemDestroyCallback({item:photo}) : openSlider(photo.position)">
        <i class="ion-trash-a"></i>
      </button>      

      <img
        ion-image-scale
        ng-src="{{photo.thumb || photo.src}}"
        ng-click="customCallback ? ionItemCallback({item:photo}) : openSlider(photo.position)">

    </div>
  </div>
  <div ion-slider></div>
</div>